@media only screen and (min-width:320px) and (max-width:600px){
    body{
        margin: 0;
        padding: 0;
    }
    .jumbotron{
        width: auto !important;

        p{
            color: $color1;
            text-shadow: rgb(24, 22, 22) 2px 2px;
        }

    }
    body{
        width: 100vw;
    }
    .logo{
        margin-top: 5px !important;
    }

    .jumbotron{
        background-image: url(../imagenes/enfoque.jpg);
        background-position:right;
        background-size: cover;
        height: 300px;
        /*padding: 15px;*/
        color: $color4;
        border-radius: 0;
        margin: 0;
        
       
        .transp{
            display: flex;
            flex-wrap: wrap;
            background-color: rgba(0,0,0,0.3);
            height: 500px;
            width: 100%;
            position: relative;
            top: -60px;
            left: -15px;
            justify-content: center;
            align-content: center;
            padding: 10px;
    
            h1{
                text-align: center;
                color: $color1;
                font-size: 25px;
                font-family: $font1;
                text-shadow: rgb(24, 22, 22) 2px 5px;
            }
    
        }
            p{
            
            font-size: 18px;
            font-family: $font2;
            text-align: justify;
            color: $color2;
            }
        
            .btn-primary{
            background-color: $color1;
            }
            .btn-primary:hover{
            background-color: $color2 !important;
            }
    }
    .color3{
        display: flex;
        flex-wrap: wrap;
        background-color: $color4;
        height: 550px;
        justify-content:space-evenly;
        align-items:center;
        box-sizing: border-box;
        object-fit: cover;
        overflow: hidden;
        /*padding-left: 25%;*/
    
        .img-fluid{
            height: auto;
            width: 400px;
        }
}
.prod_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    object-fit: cover;
}
}
@media only screen and ( min-width:601px)and (max-width:1199px){
    .prod_row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        object-fit: cover;
    }
    
    .card, .card1, .card2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 600px;
    }   
}